#manage-contents{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2rem;
}

#goback{
    padding:.5rem;
    width:fit-content
}

#header-right p:hover, #goback:hover{
    background-color: cyan;
}

button{
    cursor: pointer;
}

.table thead{
    border-bottom:2px solid black;
}

.table thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
}

.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td{
    padding:8px;
    line-height:1.428571429;
    vertical-align:top;
    border-top:none;
}

input{
    width:100%;
}

#goback{
    color:blue;
}

#content-head{
    position: relative;
}

#content-btns{
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}

#edit{
    background-color: blue;
    color:white;
    border:none;
    cursor: pointer;
}

#delete{
    background-color: crimson;
    color:white;
    border:none;
    cursor: pointer;
}

#content-sections{
    border:2px solid grey;
    padding-top:0.25rem;
    padding-bottom:0.25rem;
    padding-left:0.5rem;
}

#content-elem{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

.btn{
    cursor: pointer;
}

#alert-box{
    width:100%;
    padding-left:0.5rem;
    padding-top:0.1rem;
    padding-bottom: 0.1rem;
    border-radius:4%;
}

.added{
    background-color: pink;
}

.updated{
    background-color: yellowgreen;
}

.deleted{
    background-color: crimson;
}

.navbar-nav p{
    color:crimson;
}

.navbar-text{
    cursor: pointer;
}